.cart-icon {
    width: 55px;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 35px;
      height: 35px;
    }
  
    .item-count {
      position: absolute;
      font-size: 17px;
      font-weight: bold;
      bottom: 12px;
    }
  }
  