.cart-dropdown {
  width: 250px;
  height: 360px;
  position: absolute;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  right: 135px;
  z-index: 5;
  top: 135px;

  .cart-items {
    display: flex;
    flex-direction: column;
    height: 280px;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }

  .message-cart-empty {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: auto auto;
  }
}
